---
http_interactions:
- request:
    method: get
    uri: https://ytube-videos.p.rapidapi.com/info?id=8bZh5LMaSmE
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<RAPIDAPI_KEY>"
      X-Rapidapi-Host:
      - ytube-videos.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3a7-JsYkO7OEP7KbQNxaVq0vXS0CiM4"'
      X-Vercel-Id:
      - hnd1::iad1::t8dfl-1668318888789-0d804f7e9629
      X-Vercel-Cache:
      - MISS
      X-Matched-Path:
      - "/api/yt/info"
      X-Ratelimit-Core-Limit:
      - '500'
      X-Ratelimit-Core-Remaining:
      - '497'
      X-Ratelimit-Core-Reset:
      - '75146'
      X-Ratelimit-Download-Data-Limit:
      - '10'
      X-Ratelimit-Download-Data-Remaining:
      - '10'
      X-Ratelimit-Download-Data-Reset:
      - '75146'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - ap-northeast-1
    body:
      encoding: UTF-8
      string: '[{"id":{"videoId":"8bZh5LMaSmE"},"url":"https://www.youtube.com/watch?v=8bZh5LMaSmE","title":"RailsConf
        2014 - All the Little Things by Sandi Metz","description":"","duration_raw":"38:47","snippet":{"url":"https://www.youtube.com/watch?v=8bZh5LMaSmE","duration":"38:47","publishedAt":"8
        years ago","thumbnails":{"id":"8bZh5LMaSmE","url":"https://i.ytimg.com/vi/8bZh5LMaSmE/hq720.jpg?sqp=-oaymwEXCNAFEJQDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDbng46zDJkbHgH-FeFhve7n8syHQ","default":{"url":"https://i.ytimg.com/vi/8bZh5LMaSmE/hq720.jpg?sqp=-oaymwEXCNAFEJQDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDbng46zDJkbHgH-FeFhve7n8syHQ","width":720,"height":404},"high":{"url":"https://i.ytimg.com/vi/8bZh5LMaSmE/hq720.jpg?sqp=-oaymwEXCNAFEJQDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDbng46zDJkbHgH-FeFhve7n8syHQ","width":720,"height":404},"height":404,"width":720},"title":"RailsConf
        2014 - All the Little Things by Sandi Metz","views":"148547"},"views":"148547"}]'
  recorded_at: Sun, 13 Nov 2022 05:54:49 GMT
- request:
    method: get
    uri: https://ytube-videos.p.rapidapi.com/captions?id=8bZh5LMaSmE
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<RAPIDAPI_KEY>"
      X-Rapidapi-Host:
      - ytube-videos.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13a92-pt6DDWjLYoWVpiGm05lo3CgVbMk"'
      X-Vercel-Id:
      - hnd1::iad1::bxlb9-1668318889732-0f2e7e03c91e
      X-Vercel-Cache:
      - MISS
      X-Matched-Path:
      - "/api/yt/captions"
      X-Ratelimit-Core-Limit:
      - '500'
      X-Ratelimit-Core-Remaining:
      - '496'
      X-Ratelimit-Core-Reset:
      - '75145'
      X-Ratelimit-Download-Data-Limit:
      - '10'
      X-Ratelimit-Download-Data-Remaining:
      - '10'
      X-Ratelimit-Download-Data-Reset:
      - '75145'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - ap-northeast-1
    body:
      encoding: UTF-8
      string: '[{"start":"0.512","dur":"16.71","text":"(jazzy music)"},{"start":"17.222","dur":"2.944","text":"Sandi:So
        you''d think that writing"},{"start":"20.166","dur":"3.122","text":"object-oriented
        code was hard."},{"start":"23.288","dur":"3.373","text":"All you have to do
        is\nlook at our apps, alright?"},{"start":"26.661","dur":"3.311","text":"We
        mean well, and we write\ncode that almost always"},{"start":"29.972","dur":"5.289","text":"inevitably
        we eventually come to hate it."},{"start":"35.261","dur"[...]
- request:
    method: get
    uri: https://ytube-videos.p.rapidapi.com/info?id=cleverpuppies
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Rapidapi-Key:
      - BAD_TOKEN
      X-Rapidapi-Host:
      - ytube-videos.p.rapidapi.com
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - ap-northeast-1
      X-Rapidapi-Proxy-Response:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"message":"You are not subscribed to this API."}'
  recorded_at: Sun, 13 Nov 2022 05:54:56 GMT
- request:
    method: get
    uri: https://twinword-word-associations-v1.p.rapidapi.com/associations/?entry=Google
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<RAPIDAPI_KEY>"
      X-Rapidapi-Host:
      - twinword-word-associations-v1.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Requests-Limit:
      - '10000'
      X-Ratelimit-Requests-Remaining:
      - '9997'
      X-Ratelimit-Requests-Reset:
      - '1806174'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - ap-northeast-1
    body:
      encoding: UTF-8
      string: '{"version":"7.4.1","author":"twinword inc.","email":"help@twinword.com","result_code":"462","result_msg":"Entry
        word not found"}'
  recorded_at: Thu, 17 Nov 2022 08:51:56 GMT
- request:
    method: get
    uri: https://twinword-word-associations-v1.p.rapidapi.com/associations/?entry=famous
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<RAPIDAPI_KEY>"
      X-Rapidapi-Host:
      - twinword-word-associations-v1.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Requests-Limit:
      - '10000'
      X-Ratelimit-Requests-Remaining:
      - '9979'
      X-Ratelimit-Requests-Reset:
      - '1787934'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - ap-northeast-1
    body:
      encoding: UTF-8
      string: '{"entry":"famous","request":"famous","response":{"famous":1},"associations":"tragedian,
        renowned, distinguished, noted, celebrated, eminent, perhaps, prominent, known,
        personage, illustrious, honorary, honorable, fame, notable, maybe, celebrity,
        popular, excellent, reputation, savant, academician, playwright, great, outstanding,
        operetta, heroine, pronounced, pundit, writer","associations_array":["tragedian","renowned","distinguished","noted","celebrated","eminent","perhaps","prominent","known","personage","illustrious","honorary","honorable","fame","notable","maybe","celebrity","popular","excellent","reputation","savant","academician","playwright","great","outstanding","operetta","heroine","pronounced","pundit","writer"],"associations_scored":{"tragedian":0.42569893452202123,"renowned":0.5400818586988942,"distinguished":0.5299259770379752,"noted":0.4906636271278082,"celebrated":0.4012727738274518,"eminent":0.5227242706690995,"perhaps":0.3508079674618075,"prominent":0.39335842402292176,"known":0.46444401252247863,"personage":0.25378535460129614,"illustrious":0.26223458766294655,"honorary":0.42841928165607496,"honorable":0.42454207640799324,"fame":0.3953846111187263,"notable":0.26306574249223785,"maybe":0.4396011860363275,"celebrity":0.5110142072671491,"popular":0.6477735550588212,"excellent":0.3188021617531757,"reputation":0.5809952862792511,"savant":0.19640162578179857,"academician":0.20141363264086645,"playwright":0.4114931972804928,"great":0.394054026243428,"outstanding":0.23117701029157234,"operetta":0.45003058631242565,"heroine":0.32205740042180564,"pronounced":0.1524789789296178,"pundit":0.1940520621288058,"writer":0.5281848274441273},"version":"7.4.1","author":"twinword
        inc.","email":"help@twinword.com","result_code":"200","result_msg":"Success"}'
  recorded_at: Thu, 17 Nov 2022 13:55:55 GMT
[...]
- request:
    method: get
    uri: https://twinword-word-associations-v1.p.rapidapi.com/associations/?entry=google
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<RAPIDAPI_KEY>"
      X-Rapidapi-Host:
      - twinword-word-associations-v1.p.rapidapi.com
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - ap-northeast-1
      X-Rapidapi-Proxy-Response:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"message":"You are not subscribed to this API."}'
  recorded_at: Sun, 20 Nov 2022 06:07:04 GMT
- request:
    method: get
    uri: https://ytube-videos.p.rapidapi.com/info?id=H2tuKiiznsY
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<RAPIDAPI_KEY>"
      X-Rapidapi-Host:
      - ytube-videos.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3a1-YpDmW4KdHyUBgw2HBZsYxnZOgJ4"'
      X-Vercel-Id:
      - hnd1::iad1::26f2t-16695387[...]
- request:
    method: get
    uri: https://ytube-videos.p.rapidapi.com/captions?id=H2tuKiiznsY
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<RAPIDAPI_KEY>"
      X-Rapidapi-Host:
      - ytube-videos.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1fe2-PviGsKGwxYYX1r5k450SgoWeRmQ"'
      X-Vercel-Id:
      - hnd1::iad1::dsrrt-166[...]
